*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before,:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
body{
    color: #858688;
    font-family: 'Titillium Web', sans-serif;
    width: 1684px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: #fff;
}
.background{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.header__logo{
    font-size:20px;
}
.word-purple{
    color: #5b4295;
}   
.upper-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3.4%;
    margin-left: 11.1%;
}
.topnav{
    margin-left: 35.7%;
    margin-top: 0.7%;

}
.topnav a{  
    border-radius: 12px;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.0);
    text-align: center;
    padding: 0px 12px;
}
.topnav a:hover{
    color: black;
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}
.authnav {
    margin-left: 4%;
    margin-top: 0.7%;
}
.authnav a{
    color: black;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.0);
    text-align: center;
    padding: 6px 15px;
    font-weight: bold;
    margin: 0 5px;
}

.authnav a span{
    color: #582c7e;;
}

.authnav a:hover{
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}

.authnav .sign-up{
    color: white;
    background: linear-gradient(to bottom right, #582c7e, #6278ce);
    box-shadow: 0 6px 16px #666da0;
}

.fa-right-to-bracket{
    padding-right: 5px;
}
.languagenav{
    margin-left: 11.1%;
    margin-top: 1%;
}
.languagenav label{
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    margin: 0;
}
.languagenav label:hover{
    border-bottom: 1px solid rgba(133, 134, 136, 1);
    text-shadow: 0px 0px 1px black;
}
.main-header{
    margin: 0 auto;
    background: url("images/header-bg-1.png") center; 
    height: 620px;
    background-size: cover;
    margin-top: 150px;
}
.midtitle1{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #636363;
}
.midtitle2{
    text-align: center;
    font-size: 36px;
    color: #636363;
}
.word-red{
    color: #fc2028;
}
.background-buttons{
    display: grid;
    margin-top: 80px;
    padding-bottom: 30px;
    justify-content: center;
    background: url("images/blue-background.png") center;
    background-repeat: no-repeat; 
    background-position-y: 25px;
    backface-visibility: 0.7;
}
.mid-buttons{
    display: flex;
    position: relative;
    grid-column-gap: 25px;
    text-align: center;
    color: white;
}
button{
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 57px;
    width: 10px;
    border: 1px;
    border-radius: 30px;
    text-align: center;
    padding: 0px 15px;
}
.create{
    width: 250px;
    background: linear-gradient(to right, #646c92, 50%, #5f2f6a);
}
.create:hover{
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}
.app-store{
    margin-top: 4px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("images/apple.png"), linear-gradient(to right, #646c92, 50%, #5f2f6a); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47%, 100%;
    
}
.app-store:hover{
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}
.play-market{
    margin-top: 4px;
    height: 50px;
    width: 50px;
    background-image: url("images/play-market.png"), linear-gradient(to right, #646c92, 50%, #5f2f6a); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47%, 100%;
}
.play-market:hover{
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}
main{
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 125px;
}

.list-links{
    float: right;
    margin-right: 2%;
    margin-top: 150px;
    font-size: 23px;
}

.list-links li{
    list-style-type: none;
}

.list-links i{
    color: #676766;
}

.adv__cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 70px;
    width: 76%;
    margin: 0 auto;
}
.adv__card{
    display: grid;
    grid-template-columns: 50px 360px;
    grid-template-rows: 20px 60px 100px;
    margin: 0 auto;
}

#first.adv__card.comp-info-with-border:after{
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: -180px;
    height: 250px;
    width: 1px;
    background-color: #b9b9b9;
}

#second.adv__card.comp-info-with-border:after{
    content: '';
    display: block;
    position: absolute;
    left: 99%;
    top: 11px;
    height: 413px;
    width: 1px;
    background-color: #b9b9b9;
}

#third.adv__card.comp-info-with-border:after{
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 229px;
    height: 1px;
    background-color: #b9b9b9;
}

.adv__card img{
    grid-column: 1;
    grid-row: 2;
    margin-top: -8px;
}
.adv__card h4{
    color: #555555;
    grid-column: 2;
    grid-row: 1;
    font-size: 30px;
    font-weight: 400;
    width: 250px;
    margin-left: 7px;
}
.adv__card h5{
    width: 250px;
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px 0px 7px;
}

.adv__card p{
    width: 360px;
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: 14px;
}
.social_and_rights{
    position: relative;
    z-index: 1;
    height: 161px;
    padding-top:33px;
    padding-left:11%;
    font-size: 12px;
    color: #5c5c5c;
}

.footer-title {
    margin-top: 12px;
    margin-left:40px
   
}
ul.footer-social li{
    display:inline;
}

ul.footer-social{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-top:0px;
    margin-bottom:0px;
}

.footer-social li+li:before {
    content: "/";
    margin-left: 11px;
    margin-right: 12px;
    user-select: none;
}
.social-nav{
    margin-top:47px;
}
.footer-social a{
    color:inherit;
    border-bottom: 1px solid #dddddd;
    height: 16px;
}
.footer-social a:hover{
    opacity:0.6;
}

.contacts{
    border-left: 1px solid  #b9b9b9;;
    padding-left: 20px;
    font-size: 14px;
    list-style-type: none;
    color:#5c5c5c;
}
.first li{
    padding-bottom:3px;
}

.contacts a{
    color:inherit;
    font-weight:700;
}
.last-two{
    padding-top:10px;
    padding-bottom:0px;
}

.last-two a{
    border-bottom: 2px solid #dddddd;
}
.info-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 350px 0 200px;
}
.comp-wrap{
    display: flex;
    justify-content: space-between;
    width: 550px;
    border-right: 1px #b9b9b9 solid;
}
.company-info{
    display:block;
    margin-top: 0px;
    color: #5c5c5c;
    text-align:right;
    list-style-type: none;
    padding-right: 25px;
}
.comp-info-with-border {
    position: relative;
}
.comp-info-with-border:after{
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    height: 320px;
    width: 1px;
    background-color: #b9b9b9;
}

.company-info ul{
    list-style:none;
}

.company-info li{
    font-size: 14px;
}
.comp{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px;
}
.comp-wrap{
    display:flex;
}


.lu{
    text-align:right;
}
.company-info li:after {
    content: "•";
    margin-left: 7px;
}

.company-info a{
    color:inherit;
}

.center-text {
    text-align: center;
}

.center-text h2{
    font-size: 58px;
    color: #555;
    font-weight: normal;
    margin-top: 87px;
}

.center-text p{
    font-size: 23px;
    line-height: 0px;
    display: inline;
    white-space: pre;
    padding-bottom: 60px;
}

.center-text-contaner {
    text-align: right;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-right: 38%;
}

.privacy-button {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    border: 1px solid gray;
    width: 320px;
    background-color: #fff;
    margin-bottom: 36px;
}

.privacy-button:hover {
    border: 1px solid #fff;
    box-shadow:0 0 30px rgb(73, 185, 250);
}

.button-align {
    text-align: right;
    margin-right: 26%;
}

.button-align > hr {
    position: relative;
    top: 30px;
    z-index: -1;
}

#jornals-img {
    position: relative;
    padding-left: 20px;
}

.slides {
    overflow: hidden;
    height: 180px;
    width: 500px;
    position: relative;
    left: 39px;
    top: -70px;
}

@font-face {
    font-family: "Malaga";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Malaga-OT-Reg-Italic.ttf");
}

@font-face {
    font-family: "Malaga";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Malaga-OT-Bold-Italic.ttf");
}

.slide, .slide-1 {
    display: flex;
    height: 180px;
    transition: margin-top ease 0.5s;
}

blockquote {
    height: inherit;
}

blockquote p {
    font-family: "Malaga", serif;
    font-size: 23px;
    line-height: 130%;
    color: black;
    vertical-align: text-top;
}

blockquote cite {
    font-family: "Malaga", serif;
    line-height: 260%;
    position: relative;
    top: -6px;
}

input[name="r"] {
    visibility: hidden;
}

.slider {
    position: relative;
    left: 336px;  
    margin-top: 40px;
}

.navigation {
    width: 39px;
    height: 70px;
    position: absolute;
    top: 6px;
}

.bar {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #b7b7b7;
    border-radius: 50%;
    margin: 9px 5px;
    cursor: pointer;

    transition-duration: 200ms;
    transition-property: all; 
    transition-timing-function: linear;
}

.bar:hover, 
#slide1:checked ~ .navigation label:nth-of-type(1),
#slide2:checked ~ .navigation label:nth-of-type(2),
#slide3:checked ~ .navigation label:nth-of-type(3) {
    transform: scale(1.1);
    background-color: black;
    cursor: pointer;
}



#slide1:checked ~ .slides .slide-s1 {
    margin-top: 0px;
 }
 
#slide2:checked ~ .slides .slide-s1 {
    margin-top: -180px;
 }
 
#slide3:checked ~ .slides .slide-s1 {
    margin-top: -360px;
 }

 .gradient-wrap {
    overflow: hidden;
    position: absolute;
    top: 1760px;
    width: 1684px;
    height: 1200px;
    z-index: -1;
 }

 .gradient{
    position: relative;
    top: 64px;
    height: 100%;
    width: 150%;
    background: linear-gradient(30deg, #fff 30%, #eee);
    z-index: -1;
    transform: rotate(-6.4deg);
 }

 .computer {
    position: relative;
 }

 .computer > img {
    height: 640px;
    position: absolute;
    z-index: 0;
    top: -260px;
    left: 906px;
 }

 .any-device {
    width: 1060px;
    text-align: right;
    margin-bottom: 150px; 
 }

 .any-device h3 {
    font-size: 35px;
    font-weight: normal;
    color: #555;
 }

 .any-device p {
    font-size: 16px;
    width: 450px;
    line-height: 21px;
    padding-top: 6px;
    padding-right: 6px;
    margin: 0 0 26px auto;
 }

 .black-buttons {
    display: flex;
    margin: 0 0 0 690px;
 }

 .black-buttons > div {
    padding: 3px 0 0 12px;
    z-index: 1;
 }

.black-buttons img {
    border-radius: 5px;
}

 .black-buttons img:hover {
    box-shadow:0 0 30px black;
 }

 .fundamental-wrap  {
    line-height: 37px;
    width: 77%;
    margin: 0 0 40px auto;
    padding: 68px 0 0 40px;
    border-top: 1px #b9b9b9 solid;
    z-index: -1;
 }

 .fundamental {
    width: 866px;
    text-align: center;
 }

 .fundamental h3 {
    font-size: 34px;
    font-weight: normal;
    color: #555;
    word-spacing: 3px;
 }

 .fundamental p {
    font-size: 28px;
 }

 .btn-contaner {
    display: flex;
    justify-content: center;
 }

 .btn-contaner button {
    font-size: 16px;
    margin: 34px 24px;
 }

 .violet-button {
    width: 236px;
    background: linear-gradient(to right, #646c92, 50%, #5f2f6a);
    box-shadow: 0 6px 16px #666da0;
}

 .blue-button {
    width: 160px;
    background: linear-gradient(to right, #39bbde, #5e7bea); 
    box-shadow: 0 6px 16px #55a1a9;
}

 .violet-button:hover, .blue-button:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 30px rgb(73, 185, 250);
    cursor: pointer;
 }

 .create img {
    width: 200px;
 }

 .companies-contaner {
    width: 1334px;
    border-right: 1px #b9b9b9 solid; 
    border-top: 1px #b9b9b9 solid; 
    text-align: right;
    padding-bottom: 134px;
 }

 .companies-contaner > p {
    font-size: 13px;
    padding: 18px 18px 0 18px;
 }

 .companies-contaner > img {
    position: relative;
    right: 18px;
    top: -3px;
    background-color: transparent;
 }
